body {
    font-family: Georgia;
    font-size: 12px;
    text-align: justify;
    margin: 1cm;
}

@font-face {
    font-family: 'titolo';
    src: url('Prida65.otf');
}

img {
    display: none;
    border: 7px solid #554433;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 2.5em;
    float: right;
    clear: right;
}

.titolo-libro {
    font-size: 40px;
    font-family: titolo;
    text-align: center;
}

.informo, .tradukinda, .navigado, .senerarigo, .supra-navigilo {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #6B3510;
    font-family: Arial;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    margin-top: 25px;
    page-break-after: avoid;
}

h4 + ul {
    page-break-before: avoid;
}

h4 + p {
    page-break-before: avoid;
}

h1 {
    font-family: titolo;
    text-align: center;
    border-bottom: 3px solid #DDCCBB;
    border-left: 3px solid #DDCCBB;
    border-right: 3px solid #DDCCBB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
}

h2 {
    border-bottom: 2px solid #DDCCBB;
    clear: right;
    font-size: 16px;
}

h4 {
    font-family: Arial;
    color: #000000;
    border-bottom: 2pt solid #000000;
    padding: 2px;
    clear: right;
}

h1 + p, h2 + p {
    margin-top: 10px;
}

h3 + p {
    margin-top: 3px;
}

p {
    margin-bottom: 0.2em;
    line-height: 1.3em;
}

p + p {
    margin-top: 0.2em;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.rubriko {
    font-variant: small-caps;
}

h2 + .rubriko {
    margin-top: 1em;
}

.rubriko + ul {
    margin-top: -.50em;
    margin-bottom: -.50em;
}

ul + .rubriko {
    margin-top: -.5em;
}

ul {
    margin-top: .5em;
    margin-bottom: .5em;
}

ul li {
    list-style-type: none;
    text-indent: -2em;
    padding: 5px;
    line-height: 1.5em;
    page-break-inside: avoid;
}

table {
    font-family: Arial;
    font-size: 9px;
    text-align: left;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-top: 2em; 
    margin-bottom: 2em; 
    page-break-inside: avoid;
}

table.granda {
    page-break-inside: auto;
}


tbody {
    border-top: 2px solid #2A201A;
    border-bottom: 2px solid #2A201A;
}

table.glita {
    page-break-inside: avoid;
    float: right;
    clear: right;
    margin-left: 3em;
}

table caption {
    color: #6B3510;
    font-family: Arial;
    font-weight: bold;
    font-size: 13;
    font-variant: small-caps;
    letter-spacing: 0.15em;
    margin-bottom: 0.2em;
}

tr th {
    text-align: left;
    padding-right: 1em;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-variant: small-caps;
}

th[colspan] {
    text-align: center;
}

tr.nova-sekcio {
    border-top: 2px solid #2A201A;
    font-weight: bold;
    font-variant: small-caps;
}

tbody tr {
    border-bottom: 1px solid #DDCCBB;
}

tr.malsupra-linio {
    border-bottom: 2px solid #2A201A;
}

tr.supra-linio {
    border-top: 2px solid #2A201A;
}

td {
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: none;
    border-right: none;
}

.desxovo-1 {
    text-indent: 1em;
}

.desxovo-2 {
    text-indent: 2em;
}

.desxovo-3 {
    text-indent: 3em;
}

.enhavo {
}

.sercx-enhavo {
    color: #504940;
}

ul.sercxrezulto li a {
    font-weight: bold;
}
