body {
    color: #333333;
    background-color: #E0E0E0;
    font-family: Georgia;
}

tradukinda {
    background-color: yellow;
}

ul li {
    list-style-type: none;
    text-indent: -2em;
    padding: 5;
}

th {
    background-color: #AAAAAA;
}

td {
    padding-right: 1em;
}
