body {
    color: #2A201A;
    background-color: #EEE9E0;
    font-family: Georgia;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: #6B3510;
    font-family: Verdana;
    margin-bottom: 0px;
    margin-top: 25px;
}

h1 {
    text-align: center;
    border-bottom: 4px solid #DDCCBB;
    border-left: 4px solid #DDCCBB;
    border-right: 4px solid #DDCCBB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}

h2 {
    border-bottom: 2px solid #DDCCBB;
}

h1 + p, h2 + p, h3 + p {
    margin-top: 3px;
}

p {
    margin-bottom: 0.7em;
    line-height: 1.5em;
}

p + p {
    margin-top: 0.7em;
}

a {
    color: #10356B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style-type: none;
    text-indent: -2em;
    padding: 5;
}

table {
    font-family: Arial;
    font-size: 10pt;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #2A201A;
    border-top: none;
    margin-top: 2em; 
    margin-bottom: 2em; 
}

table caption {
    color: #6B3510;
    font-family: Arial;
    font-weight: bold;
    font-size: 16;
}

tr th {
    text-align: left;
    padding-right: 1em;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #2A201A;
}

tr th.sen-sub-linio {
    border-bottom: none;
    text-align: center;
}

tr.nova-sekcio {
    border-top: 2px solid #2A201A;
    font-weight: bold;
}

tr {
    border-bottom: 1px solid #DDCCBB;
}

td {
    padding-right: 1em;
    border-left: none;
    border-right: none;
}

tradukinda {
    background-color: yellow;
}

.desxovo-1 {
    text-indent: 1em;
}

.navigado {
    background-color: #222222;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 100%;

    font-family: Verdana;
    color: #AAAAAA;
}

.navigado a {
    color: #EEEEEE;
    text-decoration: none;
    display: block;
}

.navigado a:hover {
    text-decoration: underline;
}

.navigado ul {
    margin-top: 0.5em;
}

.navigado hr {
    border: solid green 1px;
}

.navigado .titolo {
    color: green;
    font-size: 24px;
    text-align: center;
}

.enhavo {
    margin-left: 200px;
    margin-right: 70px;
}

