body {
    color: #2A201A;
    background-color: #FEF9F0;
    font-family: Georgia;
    text-align: justify;
    background: url(papero5.jpg);
    background-size: 130%;
}

@font-face {
    font-family: 'titolo';
    src: url('Prida65.otf');
}

img {
    border: 0px solid #BBBBBB;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tradukinda {
    color: #FFAA00;
    /*display: none;*/
}

.indikoj li {
    font-family: Arial;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #6B3510;
    font-family: Arial;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    margin-top: 25px;
}

h1 {
    font-family: titolo;
    text-align: center;
    border-bottom: 3px solid #DDCCBB;
    border-left: 3px solid #DDCCBB;
    border-right: 3px solid #DDCCBB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 40px;
}

h2 {
    font-family: titolo;
    border-bottom: 2px solid #DDCCBB;
    clear: right;
}

h4 {
    font-family: Arial;
    background-color: #000000;
    color: #FFFFFF;
    padding: 2px;
    clear: right;
}

h1 + p, h2 + p {
    margin-top: 15px;
}

h3 + p {
    margin-top: 5px;
}

p {
    margin-bottom: 0.3em;
    line-height: 1.5em;
}

p + p {
    margin-top: 0.3em;
}

a {
    color: #10359B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.rubriko {
    font-variant: small-caps;
}

h2 + .rubriko {
    margin-top: 1em;
}

.rubriko + ul {
    margin-top: -.50em;
    margin-bottom: -.50em;
}

ul + .rubriko {
    margin-top: -.5em;
}

ul {
    margin-top: .5em;
    margin-bottom: .5em;
}

ul li {
    list-style-type: none;
    text-indent: -2em;
    padding: 5px;
    line-height: 1.5em;
}

table {
    font-family: Arial;
    font-size: 10pt;
    text-align: left;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-top: 2em; 
    margin-bottom: 2em; 
}

tbody {
    border-top: 2px solid #2A201A;
    border-bottom: 2px solid #2A201A;
}

table.glita {
    page-break-inside: avoid;
    float: right;
    clear: right;
    margin-left: 3em;
}

table caption {
    color: #6B3510;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
    letter-spacing: 0.15em;
    margin-bottom: 0.2em;
}

tr th {
    text-align: left;
    padding-right: 1em;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-variant: small-caps;
}

th[colspan] {
    text-align: center;
}

tr.nova-sekcio {
    border-top: 2px solid #2A201A;
    font-weight: bold;
    font-variant: small-caps;
}

tbody tr {
    border-bottom: 1px solid #DDCCBB;
}

tr.malsupra-linio {
    border-bottom: 2px solid #2A201A;
}

tr.supra-linio {
    border-top: 2px solid #2A201A;
}

td {
    padding-right: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: none;
    border-right: none;
}

tr:target {
    background-color: #FFDDBB;
}

tradukinda {
    background-color: yellow;
}

.desxovo-1 {
    text-indent: 1em;
}

.desxovo-2 {
    text-indent: 2em;
}

.desxovo-3 {
    text-indent: 3em;
}

.enhavo {
    z-index: -1;
    margin-left: 180px;
    margin-bottom: 65px;
    margin-top: 65px;
    padding-left: 65px;
    padding-right: 65px;
}

.supra-navigilo {
    position: fixed;
    top: 0px;
    left: 180px;
    right: 0px;
    height: 40px;
    font-family: Arial;
    padding-left: 50px;
    padding-right: 70px;
    border-bottom: solid #DDCCBB 2px;
    background-color: #DDD9D0;
}

.supra-ido {
    position: relative;
    margin-top: 10px;
}

.navigado {
    background-color: #222222;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 175px;
    height: 100%;
    padding-left: 5px;

    font-family: Arial;
    font-size: 15px;
    font-variant: small-caps;
    color: #AAAAAA;
}

.navigado a {
    color: #EEEEEE;
    text-decoration: none;
    display: block;
}

.navigado a:hover {
    text-decoration: underline;
}

.navigado ul {
    margin-top: 0.5em;
}

.navigado li.preta a {
    color: #AAEEAA;
 }

.navigado li.en-traduko a {
    color: #EEEEEE;
}

.navigado li.malplena a {
    color: #EEAAAA;
}

.navigado li.malplena {
    display: none;
}

.navigado hr {
    border: solid green 1px;
}

.navigado .titolo {
    color: green;
    font-family: titolo;
    font-size: 30px;
    text-align: center;
}

.navigado ul li {
    padding: 0px;
    line-height: 1.4em;
}

.senerarigo {
    margin-top: 10em;
    color: #BBBBBB;
}

.sercx-enhavo {
    color: #504940;
}

ul.sercxrezulto li a {
    font-weight: bold;
}

form.sercxformularo {
    float: right;
    font-family: Arial;
    font-size: 14px;
    width = 500px;
    margin-top: -3px;
}

input.sercxkesto {
    border: none;
    border-bottom: solid #6B3510 2px;
    padding: 2px;
    background-color: transparent;
    outline: none;
    font-size: 14px;

    width: 200px;
}

input.sercxkesto:focus {
    border-bottom: solid #356B10 2px;
}

label {
    font-family: Monaco;
    font-weight: bold;
}

textarea {
    font-family: Monaco;
    font-size: 14px;
    background-color: #DDDDDD;
    color: #222222;
}
